<p>
  <label><%= l(:label_accesses_names) %></label>
  <%= text_area_tag 'settings[accesses_names]', DomainsSetting.accesses_names, size: '40x3' %>
</p>

<p>
  <label><%= l(:label_accesses_keys) %></label>
  <%= text_area_tag 'settings[accesses_keys]', DomainsSetting.accesses_keys, size: '40x3' %>
</p>
