<h2>
  <div class="contextual">
    <%= link_to l(:label_domain_new), { controller: 'domains', action: 'new', remote: true }, class: 'icon icon-add' %>
  </div>
</h2>

<div id="domains">
  <%= render partial: 'domains' %>
</div>
